html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #374151;
    word-break: keep-all; /*  */
    font-family: "Pretendard", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20rem;
    background-color: #ffffff;
    border-bottom: 0.1rem solid #dfdfdf;
}


footer {
    background-color: #111827;
    color: #9ca3af;
    display: flex;
    justify-content: space-between;   /* <--- changed */
    align-items: center;
    padding: 3.2rem 20rem 10.8rem 20rem;
    font-size: 1.6rem;
}


#footerMenu {
    display: flex;
    gap: 3rem;
    color: #e5e7eb;
}

#socialMedia {
    display: flex;
    gap: 1.2rem;
}

.wrapper {
    max-width: 120rem;
    margin: 0 auto;
    width: 100%;
}

button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

.button {
    background-color: #3692ff;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: #1967d6;
}

.button:focus {
    background-color: #1251aa;
}

.button:disabled {
    background-color: #9ca3af;
    cursor: default;
    pointer-events: none;
}

.pill-button {
    font-size: 2rem;
    font-weight: 700;
    border-radius: 99.9rem;
    padding: 1.6rem 12.4rem;
}

.banner {
    background-color: cfe5ff;
    height: 540px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 80% bottom;
    background-size: 55%;
}

#hero {
    background-image: url("../images/panda.svg");
}

#features {
    padding-bottom: 138px;
}

#bottomBanner {
    background-image: url("../images/img_home_footer.svg");
}

.feature {
    padding: 138px 0;
    display: flex;
    align-items: center;
    gap: 5%;
}

.feature:nth-child(2) {
    text-align: right;
}

.feature-content {
    flex: 1;
}

#loginLinkButton {
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    padding: 11.5px 23px;
}

.banner .pill-button {
    margin-top: 32px;
}

.feature-tag {
    color: #3692ff;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 12px;
}

.feature-description {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.08em;
    margin-top: 24px;
}

